node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json

# dotenv
.env
.env.local

# Build info incremental do TypeScript
*.tsbuildinfo
